{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Dashboard {% endblock %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}

{% block content %}
        <div class="container-fluid home-title">
            <h1 class="my-4">Dashboard</h1>
            <h5>Bienvenue {{ app.user.email}}.</h>
            <h6>Vous êtes dans l'administration de "STUDI FITNESS GROUP".</h6>
        </div>

        <div class="boxes">
            <div class="box">
                <i class="fa fa-users"></i>
                <div class="box-data">
                    <h3>63</h3>
                    Nombre d'utilisateurs
                </div>
            </div>

            <div class="box">
                <i class="fa fa-handshake"></i>
                <div class="box-data">
                    <h3>40</h3>
                    Nombre de Partenaires
                </div>
            </div>

            <div class="box">
                <i class="fa fa-building"></i>
                <div class="box-data">
                    <h3>23</h3>
                    Nombre de Structures
                </div>
            </div>

        </div>

{% endblock %}
