{% extends 'base.html.twig' %}

{% block title %}ECF Décembre 2022{% endblock %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}

{% block content %}
    <div class="home-container">
        <div class="container home-title">
            <div class="jumbotron">
                <h2>Bienvenue {{ app.user.email}}</h2>
                <h3>Vous êtes dans l'administration de "STUDI FITNESS"</h3>
            </div>
        </div>
    </div>

{% endblock %}
