/* body {
  background-image: url("../../assets/img/55393237_m.jpg");
  background-size: cover;
} */

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.container {
  margin-top: 4rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-item {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.global-functions {
  display: flex;
  justify-content: center;
}

.form-functions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

/* Buttons */
.crud-button,
.back-button {
  text-decoration: none;
}

.back-button::before {
  padding-right: .3rem;
}

.see-button {
  color: green;
}

.delete-button {
  color: rgb(232, 24, 24);
}
