/** Basic Resets **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #667eea;
  --blue2: #3f60f7;
  --gray: #f5f5f5;
  --black1: #222;
  --gray2: #999;
}

body, html {
  font-size: 16px;
  min-height: 100vh;
  overflow-x: hidden;
  /* background-image: url("../../assets/img/55393237_m.jpg");
  background-size: cover; */
  background-color: #f4f4f4;
}

/** MY SIDEBAR **/
header {
  font-family: 'Roboto', 'sans-serif';
  position: relative;
  width: 100%;
}

/*** STOP !!!! */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #667eea;
  background: linear-gradient(to bottom, rgba(67, 100, 247, 0.8), rgba(208, 179, 236, 0.5));
  /* background: #6179e6;
  background-image: url('../../assets/images/23829913_s.jpg');
  background-position: left;
  background-size: cover;
  background-blend-mode: soft-light; */
  transition: .5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1rem;
}

.navigation li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation li:hover,
.navigation li.hovered {
  background-color: #FFF;
}

.brand-logo {
  margin-bottom: 40px;
  pointer-events: none;
  font-size: 1.2rem;
}

.navigation li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #FFF;
}

.navigation li:hover a,
.navigation li.hovered a {
  color: var(--blue);
}

.navigation .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation .icon i {
  font-size: 1.7rem;
}

.navigation .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* Main **/
main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  transition: .5s;
  overflow-x: hidden;
}

main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* Toggle Button */
.toggle {
  position: relative;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  transition: .2s;
}

.toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0px 0 var(--blue);
}

.toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

.toggle::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: var(--blue);
  transition: .2s;
  transform: translateY(-8px);
  box-shadow: 5px 8px 0 var(--blue);
}

.toggle::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: var(--blue);
  transition: .2s;
  transform: translateY(8px);
}

/* Search Bar */
.search {
  position: relative;
  width: 200px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.search input::placeholder {
  color: var(--blue);
}

.search i {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 1.2rem;
  color: var(--blue);
}

/** SIDEBAR Responsive Design **/
@media screen and (max-width: 1024px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    width: 300px;
    left: 0;
  }

  main {
    width: 100%;
    left: 0;
  }

  main.active {
    left: 300px;
  }
}

@media screen and (max-width:480px) {
  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(67, 100, 247, 1), rgba(118, 75, 162, 1));
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 1000;
  }

  main.active .toggle.active::before {
    box-shadow: 0 0px 0 #FFF;
  }
  
  main.active .toggle::before {
    background-color: #FFF;
    box-shadow: 5px 8px 0 #FFF;
  }
  
  main.active .toggle::after {
    background-color: #FFF;
  }

  .search {
    visibility: hidden;
  }
}

/* Login-logout / User */
/* .login-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
} */

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* LOGIN-LOGOUT */
.login-logout .profile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.login-logout .profile img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-logout .menu {
  position: absolute;
  top: 100px;
  right: 5px;
  background: #FFF;
  width: 200px;
  border-radius: 15px;
  transition: .5s;
  color: rgb(65, 65, 65);
  color: var(--blue);
  z-index: 2;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}

.login-logout .menu.active {
  visibility: visible;
  opacity: 1;
  top: 60px;
}

.login-logout .menu ul {
  margin: 0;
  padding: 0;
}

.login-logout .menu ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  z-index: 10;
}

.login-logout .menu li i {
  margin-right: 10px;
  transition: .2s;
  opacity: .5;
}

.login-logout .menu ul li:first-child {
  border-bottom: .5px solid rgba(0,0,0,0.10);
  pointer-events: none;
}

.login-logout .menu ul li,
.login-logout .menu ul li a {
  color: #555;
}

.login-logout .menu ul li a:hover,
.login-logout .menu ul li:hover i {
  color: var(--blue2);
  opacity: 1;
}

.login-logout .menu::before {
  content: '';
  position: absolute;
  top: -3px;
  right: 15px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: #FFF;
  z-index: 1;
}

/* ###########  Première version de la sideBar Boostrap MDN  ########################### */
/** SideBar First **/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

/** SIDEBAR First */
@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-item {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.global-functions {
  display: flex;
  justify-content: center;
}

.form-functions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}
/* ################################################################# */

/** Buttons **/
.crud-button,
.back-button {
  text-decoration: none;
}

.back-button::before {
  padding-right: .3rem;
}

.form-check-active {
  background-color: green;
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  padding: .3rem;
}

.form-check-inactive {
  background-color: rgb(208, 83, 83);
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  padding: .3rem;
}

/** Responsive Table Line **/  
@media (max-width: 800px) {
  .responsive-table-line td:before { content: attr(data-title); }
  .responsive-table-line table, 
  .responsive-table-line thead, 
  .responsive-table-line tbody, 
  .responsive-table-line th, 
  .responsive-table-line td, 
  .responsive-table-line tr { display: block; }
   
  .responsive-table-line thead tr { 
    display: none;
  }

  .responsive-table-line td { 
    position: relative;
    white-space: normal;
    text-align: right;
  }

  .responsive-table-line td:last-child { 
    text-align: center; 
  }
   
  .responsive-table-line td:before { 
    position: absolute;
    left: 0px;
    padding-right: 15px; 
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    text-align: left;
    padding: 2px;
  }

  .form-check-active,
  .form-check-inactive {
    display: inline-block;
  }
}