/** Basic Resets **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --gray: #f5f5f5;
  --black1: #222;
  --gray2: #999;
}

body, html {
  font-size: 14px;
  min-height: 100vh;
  overflow-x: hidden;
  /* background-image: url("../../assets/img/55393237_m.jpg");
  background-size: cover; */
}

/** HEADER **/
header {
  font-family: 'Roboto', 'sans-serif';
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: .5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1rem;
}

.navigation li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation li:hover,
.navigation li.hovered {
  background-color: #FFF;
}

.brand-logo {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #FFF;
}


.navigation li:hover a,
.navigation li.hovered a {
  color: var(--blue);
}

.navigation .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation .icon i {
  font-size: 1.7rem;
}

.navigation .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* .navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 35px 35px 0 10px #FFF;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after  {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 35px -35px 0 10px #FFF;
} */

/** Main **/
main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  transition: .5s;
}


/** SideBar **/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-item {
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.global-functions {
  display: flex;
  justify-content: center;
}

.form-functions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

/** Buttons **/
.crud-button,
.back-button {
  text-decoration: none;
}

.back-button::before {
  padding-right: .3rem;
}

.form-check-active {
  background-color: green;
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  padding: .3rem;
}

.form-check-inactive {
  background-color: rgb(208, 83, 83);
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  padding: .3rem;
}

/** Responsive Table Line **/
@media (max-width: 800px) {
  .responsive-table-line td:before { content: attr(data-title); }
  .responsive-table-line table, 
  .responsive-table-line thead, 
  .responsive-table-line tbody, 
  .responsive-table-line th, 
  .responsive-table-line td, 
  .responsive-table-line tr { display: block; }
   
  .responsive-table-line thead tr { 
    display: none;
  }

  .responsive-table-line td { 
    position: relative;
    white-space: normal;
    text-align: right;
  }

  .responsive-table-line td:last-child { 
    text-align: center; 
  }
   
  .responsive-table-line td:before { 
    position: absolute;
    top: 0px;
    left: 0px;
    padding-right: 15px; 
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    text-align: left;
    padding: 2px;
  }
}