<div class="container">
{{ form(form)}}
    <form method="post" action="{{ path('app_partenaire_delete', {'id': partenaire.id}) }}" >
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partenaire.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
